/* Configuração básica inicial */
body {
    background-image: url("imagens/fundo4.jpg");
    background-size: cover;
}

/* Formatação de titulos */
h1{
    color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: 1px 5px 5px rgb(230, 2, 2);
    text-align: center;
    margin: 1em;
}
h3 {
    color: #adff2f;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 1em;
}

.txt {
    width: 400px;
    height: 200px;
    text-align: left;
    border: solid;
}

#msgInformativa {
    color: #adff2f;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 25px;
}

/* Alinhamento e formatação das caixas de texto */
textarea {
    transition: box-shadow .5s;
}

textarea:hover {
    box-shadow: 0px 0px 20px red;
}

.alinha {
    text-align: center;
    position: relative;
    top: 1px;
}

#caixaCod {
    position: relative;
    right: 10px;
}

#caixaDecod {
    position: relative;
    left: 10px;
}

/* Formatação e alinhamento dos botões Codificar, Copiar, Decodificar */
.formatar-botao {
    border-radius: 10px;
    font-weight: bold;
    width: 200px;
    color: rgb(0, 0, 0);
    background: #FFD700;
    transition: background-color .5s;
    position: relative;
    top: 15px;
}

.formatar-botao:hover {
    background-color: #adff2f;
}

.alinha-botao {
    text-align: center;
}

#copiar-texto:hover {
    background-color: #FFA500;
}

/* Rodape e botões de redes */
.rodap {
    box-shadow: 0px 0px 20px red;
    margin: 1em;
    background-color: #FFA500;
}

.nome-rodape {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #4f4f4f;
}

.rodape{    
    position: absolute;
    bottom: 10px;
    margin-left: 5%;
}

.redes {
    position: absolute;
    margin-left: 78%;
    bottom: 10px;
    filter: invert(30%);
}

div.redes img:hover {
    filter: invert(100%);
    transform: scale(1.1);
}
