.rodape {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    text-align: center;
}

.rodape p {
    color: #ffffff8a;
}

@media screen and (max-width: 768px) {
    .rodape {
        flex-direction: column;
        margin: 20px 15px;
    }
}