.rodape__link {
    filter: invert(50%);
    margin: 10px 20px;
    transition: filter .500s;
}

.rodape__link:hover {
    filter: invert(100%);
}

@media screen and (max-width: 500px) {
    .rodape__link {
        margin: 0;
        width: 50px;
    }
}