.botoes {
    display: flex;
    height: 35px;
    justify-content: center;
    margin: 10px 0;
    padding: 0 10px;
}

@media screen and (max-width: 500px) {
    .botoes {
        flex-direction: column;
    }
}