.caixas-texto {
    display: flex;
    margin: 10px 0;
    max-width: 1000px;
    height: 160px;
    justify-content: space-between;
}

@media screen and (max-width: 426px) {
    .caixas-texto {
        align-items: center;
        flex-direction: column;
    }
}