.caixas-texto__caixa {
    border: transparent;
    border: 3px solid #008cff;
    border-radius: 5px;
    margin: 10px;
    resize: none;
}

@media screen and (max-width: 768px) {
    .caixas-texto__caixa {
        font-size: 1.3em;
        width: 330px;
    }
}

@media screen and (max-width: 500px) {
    .caixas-texto__caixa {
        font-size: 1.3em;
        width: 280px;
    }
}